/*bomdia = deb75c
boatarde = ff7335
boanoite = 5a566d*/
body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

header{
    text-align: center;
    padding: 10px;
}

section{
    width: 500px;
    background-color: white;
    color: black;
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
}

#sauda{
    padding: 10px;

}

#image{
    padding: 10px;
    border: 10px;
}

#hora{
    padding: 10px
}

footer{
    text-align: center;
    padding-top: 15px;
}

